.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.login-container div {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-top: .5em;
  font-size: .8rem;
}

.login-container input {
  outline: auto;
  padding: .5rem;
}