.home-hero {
  background: var(--color-card-bg-02);
  box-shadow: inset 0px 0px 30px rgba(0, 0, 0, .4);
}

.home-hero-container {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  /* justify-content: center; */
  align-items: center;
}