.shop__hero {
  background: linear-gradient(rgba(0, 0, 0, .562), rgba(0, 0, 0, .562)), url('../../assets/images/shop-hero.jpg') no-repeat center;
  background-size: cover;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, .4);
}

.shop__filter-container {
  display: flex;
  justify-content: space-between;

}

.filter-widget {
  display: flex;
  gap: 1.5rem;
}

.filter-widget select {
  padding: 0 .5rem;
  border-radius: .4rem;
  outline: auto;
  background: var(--color-primary);
  color: var(--color-white);
}

.search-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.search-box input {
  width: 100%;
  padding: .5rem;
  border-radius: .4rem;
  border: 2px solid black;
}

.search-box span {
  display: inline-block;
  padding: .3rem .3rem .1rem;
  background: var(--color-primary);
  border-radius: .5rem;
  color: var(--color-white);
}

/* ==========MEDIA QUERIES======== */
@media screen and (max-width:768px) {
  .shop__filter-container {
    flex-direction: column;
  }

  .filter-widget select {
    padding: .7rem;
  }

  .filter-widget {
    justify-content: space-between;
  }

  .search-box {
    margin-top: 1rem;
    width: 100%;
  }
}