.admin__nav {
  position: fixed;
  width: 100%;
  height: 5rem;
  z-index: 99;
  background: var(--color-primary);
}

.admin__nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.admin__nav-profile {
  position: relative;
}

.admin__nav-profile img {
  width: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
}

.admin__nav-container input {
  width: 70%;
  padding: .5rem;
  border-radius: .4rem;
}

.admin__nav-logo {
  color: var(--color-white);
}

/* ============DASHBOARD========== */
.dashboard h3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  gap: .3rem;
  justify-content: center;
}

.dashboard span {
  color: salmon;
}

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 3rem;
}

.dashboard-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, .4);
  border-radius: .5rem;
  font-weight: bold;
}