.admin__nav {
  position: fixed;
  width: 100%;
  height: 5rem;
  z-index: 99;
  background: var(--color-primary);
}

.admin__nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.admin__nav-profile {
  position: relative;
}

.admin__nav-profile img {
  width: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
}

.admin__nav-logo {
  color: var(--color-white);
}

.admin__nav-menus {
  color: var(--color-white);
  display: flex;
  gap: 1rem;
}

.admin__nav-active {
  border-bottom: 2px solid var(--color-white);
}

/* ============DASHBOARD========== */
.dashboard h3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  gap: .3rem;
  justify-content: center;
}

.dashboard span {
  color: salmon;
}

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 3rem;
}

.dashboard-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, .4);
  border-radius: .5rem;
  font-weight: bold;
}

/* ============ADD PRODUCTS========== */
.form-group {
  display: flex;
  flex-direction: column;
  margin: .3rem 0;
}

.form-group2 {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.form-group2 div {
  display: flex;
  flex-direction: column;
}

.form-group2 select {
  width: fit-content;
  padding: .5rem;
  outline: auto;
}

.form-group2 input[type=file] {
  width: fit-content;
}

.addProducts-btn button {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}


/* =========MEDIA QUERIES====== */
@media screen and (max-width:768px) {
  .dashboard-container {
    gap: 1rem;
  }
}

@media screen and (max-width:600px) {
  .dashboard-container {
    grid-template-columns: 1fr;
  }
}