/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/*  css variables */
:root {
  --color-card-bg-01: #fdefe6;
  --color-card-bg-02: #d6e5fb;
  --color-card-bg-03: #ceebe9;
  --color-card-bg-04: #e2f2b2;
  --color-primary: rgb(10, 29, 56);
  --color-hero-bg: #d6e5fb;
  --color-small-text: #999;
  --color-white: #fff;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

/* reset browser default */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: unset;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

section {
  padding: 5rem 0;
}

button {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  padding: .5rem 1rem;
  background: var(--color-primary);
  border-radius: .3rem;
  color: var(--color-white);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.section-title {
  margin: 0 auto;
  width: var(--container-width-lg);
  text-align: center;
}